<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="spinner-container">
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="ball-spin-clockwise"
      [fullScreen]="true"
      [show]="true">
      <img src="../../../assets/spinner.gif" alt="Loading..." />
    </ngx-spinner>
  </div>
  <ion-card *ngFor="let historia of historias">
    <ion-card-content>
      <div class="div1">
        <img class="img" [src]="historia.img | safe" />
      </div>
      <div class="div2">
        <p class="open-sans-bold">{{historia.titulo}}</p>
      </div>
    </ion-card-content>
    <audio controls class="controls" [src]="historia.audio | safe"></audio>
  </ion-card>
</ion-content>
