@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

ion-card-header{
  text-align: right;
  width: 90%;
}

ion-card, ion-item{
  --background: white;
}

ion-item {
  --inner-border-width: 0;
}

ion-content{
  --background: rgb(252, 252, 252);
  --padding-top: 70px;
}

ion-thumbnail{
  width: 120px;
  height: 120px;
  position: relative;
  top: -7px;
  left: -15px;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #EE964B;
}

img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}