
<ion-content>
  <ion-card (click)="goToAcao()">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../assets/acao.jpeg" />
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title class="open-sans-bold">Ação</ion-card-title>
      </ion-card-header>
    </ion-item>
      <ion-card-content class="open-sans-light">
        As histórias infantis de ação capturam a imaginação das crianças, transportando-as para mundos repletos de
        aventura, coragem e emoção.
      </ion-card-content>
  </ion-card>
  <ion-card (click)="goToAventura()">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../assets/aventura.jpeg" />
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title class="open-sans-bold">Aventura</ion-card-title>
      </ion-card-header>
    </ion-item>
      <ion-card-content class="open-sans-light">
        As histórias infantis de aventura transportam as crianças para mundos fascinantes e cheios de maravilhas, onde a imaginação não tem limites.
      </ion-card-content>
  </ion-card>
  <ion-card (click)="goToEsporte()">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../assets/esporte.jpeg" />
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title class="open-sans-bold">Esporte</ion-card-title>
      </ion-card-header>
    </ion-item>
      <ion-card-content class="open-sans-light">
        As histórias infantis de esporte capturam a energia e o entusiasmo do mundo das competições, trazendo aventuras cheias de movimento e trabalho em equipe.
      </ion-card-content>
  </ion-card>
  <ion-card (click)="goToFantasia()">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../assets/fantasia.jpeg" />
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title class="open-sans-bold">Fantasia</ion-card-title>
      </ion-card-header>
    </ion-item>
      <ion-card-content class="open-sans-light">
       As histórias infantis de fantasia abrem as portas para mundos encantados onde a imaginação não tem limites.
      </ion-card-content>
  </ion-card>
</ion-content>